
.main-container {
  display: flex; 
  min-height: 100vh; 
}


app-sidebar {
  width: 250px; 
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.datatable-container {
  flex: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 250px; 
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.datatable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
}

.datatable th,
.datatable td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 14px;
  word-wrap: break-word; 
}

.datatable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.datatable tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.datatable tr:hover {
  background-color: #f1f1f1; 
}

.datatable th:hover {
  cursor: pointer;
  background-color: #e0e0e0; 
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column; 
  }

  .datatable-container {
    margin-left: 0; 
  }

  .datatable th, .datatable td {
    padding: 6px; 
    font-size: 12px; 
  }

  .search-input {
    font-size: 14px; 
  }
}
