<app-sidebar></app-sidebar>
<div class="datatable-container">
  <h2>API Data Table</h2>
 
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="filterUsers()"
    placeholder="Search users"
    class="search-input"
  />

  <table class="datatable">
    <thead>
      <tr>
        <th (click)="sortTable('id')">Id</th>
        <th (click)="sortTable('name')">Name</th>
        <th (click)="sortTable('date')">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ (currentPage - 1) * 10 + (i + 1) }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.date }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-container">
    <div class="entries-info">
      <span>Showing {{ getCurrentRange() }} out of {{ totalUsers }} entries</span>
    </div>
    <!-- Pagination Controls -->
    <div class="pagination">
     
      <button
        (click)="goToPage(1)"
        [disabled]="currentPage === 1"
        class="pagination-button"
      >
        First
      </button>

    
      <button
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
        class="pagination-button"
      >
        Previous
      </button>

      
      <button
        *ngFor="let page of pageButtons()"
        (click)="goToPage(page)"
        [ngClass]="{ active: currentPage === page }"
        class="pagination-button"
      >
        {{ page }}
      </button>

      <button
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
        class="pagination-button"
      >
        Next
      </button>

      <button
        (click)="goToPage(totalPages)"
        [disabled]="currentPage === totalPages"
        class="pagination-button"
      >
        Last
      </button>
    </div>
  </div>
</div>
